<!DOCTYPE html>
<html>
    <head>
        <title>USB - Kundenportal - Login</title>
        <script src="/javascripts/clientmanager.js"></script>
        <script src="/javascripts/crypto.js"></script>
    </head>
    <body>
        <h1>USB - Kundenportal</h1>
        <h2>Login</h2>
        <form id="loginform" action="">
            <input id="userinput" placeholder="User" type="text" name="user" required>
            <input id="passinput" placeholder="Pass" type="password" name="pass" required>
            <input id="loginbtn" type="submit" value="submit">
        </form>
        <script src="/javascripts/login.js"></script>
    </body>
</html>